<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h2>
    Angular 6 : {{ header }}
  </h2>
  <h3>
    <i>By - {{ sub_header }}</i>
  </h3>
  <div class="row">
    <div class="col">
      <h5>Subcomponent 1</h5>
      <app-sub-component1></app-sub-component1>
    </div>
    <div class="col">
      <h5>Subcomponent 2</h5>
      <app-sub-component2></app-sub-component2>
    </div>
    <div class="col">
      <h5>Subcomponent 3</h5>
      <app-sub-component3></app-sub-component3>
    </div>
  </div>
</div>
