<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h2>
    Angular 6 : Firebase CRUD Operations
  </h2>
  <h3>
    <i>By - Aditya Bagad</i>
  </h3>
</div>

<div class="container-fluid">

  <!-- Routing Modules -->
  <div class="nav-stud">
    <nav class="nav justify-content-center">
      <a routerLink="/display-student"  routerLinkActive="active" class="nav-link">Display Students</a>
      <a routerLink="/add-student"      routerLinkActive="active" class="nav-link">Add Student</a>
      <a routerLink="/delete-student"   routerLinkActive="active" class="nav-link">Delete Student</a>
      <a routerLink="/update-student"   routerLinkActive="active" class="nav-link">Update Student Info</a>
    </nav>
  </div>

</div>

<router-outlet></router-outlet>
