<table mat-table [dataSource]="books_info" class="mat-elevation-z8">

  <!-- Name -->
  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef> NAME </th>
    <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
  </ng-container>

  <!-- Column -->
  <ng-container matColumnDef="Price">
    <th mat-header-cell *matHeaderCellDef> PRICE </th>
    <td mat-cell *matCellDef="let element"> {{element.Price}} </td>
  </ng-container>

  <!-- Author -->
  <ng-container matColumnDef="Author">
    <th mat-header-cell *matHeaderCellDef> AUTHOR </th>
    <td mat-cell *matCellDef="let element"> {{element.Author}} </td>
  </ng-container>

  <!-- Pages -->
  <ng-container matColumnDef="Pages">
    <th mat-header-cell *matHeaderCellDef> PAGES </th>
    <td mat-cell *matCellDef="let element"> {{element.Pages}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
